/* A basic CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Ensures padding and borders are included in the element's total width and height */
}


body {
  height: 100vh; /* Make body take up the full height of the viewport */
  width: 100vw; /* Make body take up the full width of the viewport */
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  width: 300px;
  border-radius: 10px;
  border: 2px solid blueviolet;
  text-align: center;
  padding: 20px;
  background: #333;
 

}

.card img{
  width: 100px;
  
  border-radius: 50%;
  background-size: cover;
}

p{
  margin:20px 0 ;
}
.card button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}